if [ -n "${VIRTUAL_ENV:-}" ]; then
  PATH_rm "$VIRTUAL_ENV/bin"
  unset VIRTUAL_ENV
  unset VIRTUAL_ENV_PROMPT
fi

export VIRTUAL_ENV="$PWD/.venv"
export VIRTUAL_ENV_PROMPT=".venv"
PATH_add "$VIRTUAL_ENV/bin"
export PYTHONDONTWRITEBYTECODE=1
